.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    color: #8d867d;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 30%;
    border-bottom: 1px solid #ddd;
    background-color: #bba99a;
    color: #dbd2cb;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    color: #97918c;
}



.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
    color: #9e9a93;
    /* ← 好きな色に変更 */
    font-size: 16px;
    /* ← 好きなサイズに変更 */
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    /* ← 送信と修正の間隔 */
}

.form__button-submit {
    padding: 10px;
    width: 15%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #82766a;
    color: #fff;
    cursor: pointer;
}

.form__button-edit {
    color: #9e9892;
}