.thanks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* 画面の高さに合わせる */
    position: relative;
    text-align: center;
}


.thanks-title {
    color: #f8f8f8;
    font-size: 250px;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    /* 後ろに */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -95%);
    white-space: nowrap;
}

/* テキストとボタン */
.thanks__content {
    position: relative;
    z-index: 2;
    /* THANK YOU の上に配置 */
}


/* テキストとボタンの入れ物を縦並び・中央寄せ */
.thanks__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* ← これで間隔を確実に開けられる */
}

.thanks__text {
    font-size: 24px;
    color: #847e6c;
    font-weight: bold;
}

.home-btn {
    padding: 10px 40px;
    border: none;
    border-radius: 3px;
    background: #827668;
    color: #fff;
    cursor: pointer;
}